**/.DS_Store
**/__pycache__
.idea
.python-version
.venv
.vscode
TODO.txt
tmp
*.mp4
*.jpg
*.png
*.gif
*.webp
*.heic
*.heif
*.pt
*.safetensors
*.ckpt
*.safetensors
*.safetensors.index.json
*.safetensors.index.json.lock
*.json
